<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <title>Recipe editor</title>
</head>

<body>
    <div>
        <h2>Recipe Builder</h2>
        <a href="/recipe_clear">Clear recipe</a>

        <form action="/add_recipe" method="POST">
            <input type="text" name="name" value="{{request.session.recipe.name}}" placeholder="Name of the recipe">
            <br>
            <textarea name="desc" rows="10" value="{{request.session.recipe.desc}}" placeholder="Describe the recipe"></textarea>
        </form>

        <table>
            <tr>
                <th>ID</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Unit</th>
                <th>Actions</th>
            </tr>
            {% for component in complist %}
            <tr>
                <td>{{component.id}}</td>
                <td>{{component.name}}</td>
                <td>
                    <a href="/recip_decr/{{component.id}}">less</a>
                    {{component.quantity}}
                    <a href="/recip_incr/{{component.id}}">more</a>
                </td>
                <td>{{component.unit}}</td>
                <td>
                    <a href="/recip_remove/{{component.id}}">remove</a>
                </td>
            </tr>
            {% endfor %}
        </table>

        <h3>Narrow down the list of products</h3>
        <form action="recipe_search" method="POST" id="search">
            {% csrf_token %}
            <input type="search" name="recipe_search" value="{{request.session.recipe_search}}">
            <a href="/recipe_search_clear">Clear Filter</a>
            <button type="submit">Filter</button>
        </form>

        <h3>Products available:</h3>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Unit of measure</th>
                <th>ACTION</th>
            </tr>

            {% for product in productlist %}
            <tr>
                <form action="/add_to_recipe" method="POST">
                    {% csrf_token %}
                    <td>{{product.id}}
                        <input type="hidden" name="id" value="{{product.id}}">
                    </td>
                    <td>{{product.name}}</td>
                    <td>
                        <input type="number" name="quantity" value="1">
                    </td>
                    <td>{{product.unit}}</td>
                    <td>
                        <button type="submit">Add</button>
                    </td>
                </form>
            </tr>
            {% endfor %}
        </table>
        <a href="/complete_recipe">Finish Recipe</a>
        <a href="/admin_dash">back to the dashboard</a>
    </div>
</body>

</html>