*{
    /*outline: 1px solid red;*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
td{
    padding: 3px;
}
body{
    background-color: rgb(133, 124, 124);
}
body.internal{
    background-image: url(../img/pantry.png)
}
.img-thumbnail {
    background-color: rgb(1, 1, 31);
    border-radius: 10px;
    border: none;
    padding: 5% 0 0 5%;
    max-width: 300%;
    height: auto;
}
div#header{
    background-color: rgb(1, 1, 31);
    padding: 0;
}
h1{
    color: whitesmoke;
}
p.lead{
    text-align: center;
}
span{
    display: inline-block;
}
span#turn{
    transition: all 0.5s;
    transform: rotateY(180deg);
    color: #e1801d;
}
span#turn:hover{
    transform: rotateY(0deg);
    color: white;
}
span:hover{
    color: #e1801d;
}
.first-a{
    margin: 0 0 0 0;
    color: whitesmoke;
}
#pantry{
    margin-left: 20%;
}
table#pantry-table th{
    padding: 0 1% 0 1%;
}
.validator_error_messages{
    background-color:pink;
    margin-top:20px;
    padding: 20px;
    border-radius:10px;
}
.jumbotron {
    position: relative;
    overflow: hidden;
    background-color:black;
    padding: 10% 0 10% 0;
    width: 100%;
    margin-bottom: 0;
}
.jumbotron video {
    position: absolute;
    z-index: 1;
    top: 0;
    width:100%;
    height:100%;
    /*  object-fit is not supported on IE  */
    object-fit: cover;
    opacity:0.5;
}
.jumbotron .container {
    z-index: 2;
    position: relative;
}
div#pantry{
    background-color: #e17f1da2;
    margin-right: 0;
    padding: 0;
    width: 80%;
}
#pantry-wrapper{
    margin:0;
}
#reg-box{
    background-color: rgb(97, 96, 96);
    border-radius: 10px;
    padding: 2%;
    margin-bottom: 10%;
}
button#shop{
    background-color: rgb(1, 1, 31);
    color: #e1801d;
    padding: 2%;
    margin: 0 0 5% 10%;
    font-weight: 300;
}
#reg-wrapper{
    background-image: url(../img/spices.jpg);
    background-size: 100%;
    padding: 10% 5% 5% 10%;
}
#log-box{
    background-color: rgb(97, 96, 96);
    border-radius: 10px;
    padding: 2%;
    margin-bottom: 10%;
}
#log-wrapper{
    background-image: url(../img/veggies.jpg);
    background-size: 100%;
    margin: 0;
    padding: 10% 5% 5% 10%;
}
.reroute{
    margin-left: 80%;
    font-size: 110%;
    color: black;
}
div#footer{
    background-color: rgb(1, 1, 31);
}
footer{
    background-color: rgb(1, 1, 31);
    color: whitesmoke;
    padding-top: 2%;
    padding-bottom: 2%;
}
#profile{
    border: 5px solid black;
    border-radius: 50%;
    margin: -1% 1% 0 30%;
}
#profile-box{
    background-color: rgba(25, 25, 112, 0.856);
    background-size: 110%;
    padding: 1%;
    color: whitesmoke;
}
#profile-box a{
    color: whitesmoke;
}
#edit-wrapper{
    background-image: url(../img/edit_profile.jpg);
    background-size: 100%;
}
#edit-box{
    background-color: rgba(245, 245, 245, 0.582);
    border: 2px solid black;
    border-radius: 10px;
    padding: 2%;
    margin-bottom: 5%;
}
.checkbox{
    margin: 1%;
    padding: 1%;
    color: black;
    border-radius: 5px;
}
#item-table{
    margin: 2%;
    font-size: 85%;
}
#profile-wrapper{
    background-color: darkblue;
    color: whitesmoke;
}
#info *{
    font-size: 70%;
    list-style-type: none;
}
.pantry-box{
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.479);
    margin: 1%;
    font-family: Andale Mono;
    text-align: center;
}
.shopping-list-box{
    background-color: whitesmoke;
    color: black;
    text-align: center;
    max-height: 500px;
    margin-left: 3%;
    font-size: 90%;
}
input.buy{
    background-color: rgb(25, 83, 241);
    padding: 5%;
    border-radius: 5px;
    color: whitesmoke;
}
.products_available{
    background-color: #e17f1d96;
    border: 2px solid black;
    border-radius: 10px;
}
.search{
    margin: 1%;
}

tr.underline{
    border-bottom: 2px solid lightblue;
}
tr.head{
    border-bottom: 2px solid black;
}
#title{
    background-color: black;

}
.underline td *{
    display: inline-block;
    margin: 1%;
}
.remove_shopping{
    font-size: 90%;
}
#market{
    height: 400px;
    overflow-y: scroll;
    display: block;
}
/*Small devices (portrait phones, 400 and up)*/
@media (min-width: 320px){
    img#logo{
        width: 250%;
    }
    h1#skillet{
        text-align: center;
        font-size: 240%;
        margin:10% 0 0 20%;
    }
    #landing-login{
        text-align: center;
        margin: -3% 0 0 0;
        font-size: 100%;
        color: whitesmoke;
    }
    #profile-wrapper{
        background-color: darkblue;
        color: whitesmoke;
    }
    h2{
        text-align: center;
    }
    #info *{
        font-size: 100%;
        margin-left: 5%;
    }
    img#profile{
        width: 150%;
        margin: 0 0 0 -15%;
    }
    .reroute{
        margin-left: 60%;

    }
    input[type='checkbox']{
        padding: 7px;
    }
    #pantry{
        margin: 0;
    }
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    img#logo{
        width: 80%;
        margin: 0 0 0 20%;
    }
    h1#skillet{
        font-size: 300%;
        margin: 5% 0 0 -30%;
    }
    div#landing-login{
        text-align: center;
        margin: 13% 0 0 0;
        font-size: 90%;
    }
    #profile-wrapper h2{
        text-align: left;
    }
    img#profile{
        width: 70%;
        margin: 0 0 0 5%;
    }
    #info *{
        margin: 0;
        font-size: 125%;
    }
    .first-a{
        margin-left: 5%;
    }
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    img#logo{
        width: 60%;
        margin: 0;

    }
    h1#skillet{
        font-size: 400%;
        margin: 3% 0 0 -80%;
    }
    div#landing-login{
        text-align: center;
        margin: 10% 0 0 -10%;
        font-size: 100%;
    }
    img#profile{
        width: 100%;
        margin: 0;
    }
    #profile-wrapper h2{
        font-size: 300%;
    }
    #info{
        font-size: 175%;
    }
    #info ul{
        font-size: 100%;
    }
    #info ul li{
        font-size: 75%;
    }

    .shopping-list-box{
        font-size: 200%;
        margin-left:0;
    }
    .pantry-box{
        font-size: 175%;
    }

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    img#logo{
        width:45%;
    }
    h1#skillet{
        font-size: 400%;
        margin: 1% 0 0 -100%;
    }
    div#landing-login{
        text-align: center;
        margin: 5% 0 0 -10%;
        font-size: 100%;
    }
    img#profile{
        width: 60%;
        margin: 0;
    }
    #profile-wrapper h2{
        font-size: 300%;
    }
    #info{
        margin: 0 0 0 -10%;
    }
    .first-a{
        font-size: 200%;
        margin-left: 2%;
    }
    .shopping-list-box{
        font-size: 100%;
    }
    .pantry-box{
        font-size: 100%;
    }
 }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    img#logo{
        width: 30%;
        margin: -3% 0 0 0;
    }
    h1#skillet{
        font-size: 300%;
        margin: 10% 0 0 -200%;
    }
    div#landing-login{
        margin: -2% 0 0 80%;
        font-size: 100%;
    }
    #profile-wrapper h2{
        font-size: 200%;
    }
    img#profile{
        width: 30%;
        margin-left: 5%;
    }
    #info{
        margin-left: -20%;
    }
    #info *{
        font-size: 75%;
    }
    .first-a{
        font-size: 100%;
        margin-left: 3%;
    }
}